[user]
        name = Andy Cowell
        email = Andrew.Cowell@ScrippsNetworks.com
[core]
        autocrlf = input
        safecrlf = true
        editor = emacs
	excludesfile = $HOME/.gitignore
[alias]
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
